.leftbar{
    display: flex;
    align-items: flex-start;
    border-right: solid 1px var(--border-color);
    padding: 20px;

    .leftbar-container{
        
        .break{
            border-bottom: solid 1px var(--border-color);
            height: 1px;
            padding: 5px;
            margin: 5px;
        }
    }
}