.leftbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: solid 1px var(--border-color);
    position: relative;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: var(--background);
        color: var(--color);
        border-bottom: solid 1px var(--border-color);
        position: relative;
        width: -webkit-fill-available;
        transition: all ease 0.2s;

        .header-upper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 10px 0px 3px 0px;
            font-size: 1.5rem;

            .header-text {
              padding-top: 2px;
              color: var(--text-color);
              font-weight: 700;
            }
        }

        .header-subtext {
            font-size: 0.7rem;
            font-weight: 400;
            color: var(--subtext-color);
            font-style: italic;
        }
    
    }

    .leftbar-container{
        padding: 20px;
        
        .break{
            border-bottom: solid 1px var(--border-color);
            height: 1px;
            padding: 5px;
            margin: 10px;
        }
    }
}