.horizontal-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;

  label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .75rem;
    font-weight: 600;
    width: 120px;
    color: var(--text-color)
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  
    input, select {
      width: 70px;
      min-width: 70px;
      text-align: center;
      margin: 0 10px;
      padding: 4px;
      font-size: 0.75rem;
      background-color: var(--input-background);
      color: var(--text-color);
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}
