.horizontal-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 35px;

  label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .75rem;
    font-weight: 600;
    color: var(--text-color)
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    min-width: 150px;
  
    input, select {
      width: 70px;
      min-width: 70px;
      text-align: center;
      margin: 0 10px;
      padding: 4px;
      font-size: 0.75rem;
      background-color: var(--input-background);
      color: var(--text-color);
      border: 1px solid var(--input-border);
      border-radius: 5px;
      box-sizing: border-box;

      &:focus{
        outline: none;
        border-color: var(--text-color);
      }
    }

    // toggle
    .toggle-button {
      display: inline-block;
      width: 50px;
      height: 26px;
      background-color: var(--input-background);
      border-radius: 13px;
      position: relative;
      cursor: pointer;
      border: solid 1px var(--input-border);
      
      .status-span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        color: var(--button-color);
      }
      
      &.active {
        background-color: var(--button-background);
        border-color: var(--button-background);
        
        .status-span {
          color: var(--button-color);
        }
        
        .slider {
          transform: translateX(24px);
        }
      }
      
      // used when conveying a message within the switch ex) 'complete'/'incomplete'
      &.status-switch {
        width: 100px;
        
        &.active {
          .slider {
            transform: translateX(74px);
          }
        }
      }
      
      .slider {
        width: 16px;
        height: 16px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        transition: 0.4s;
        left: 5px;
      }

      &:focus{
        outline: none;

        .slider{
          width: 20px;
          height: 20px;
          top: 2px;
          left: 3px;
        }
      }
    }
  }
}
