.dti-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 20px;

    .monthly-payment{
        padding-bottom: 4px;
        border-bottom: solid 1px var(--border-color);
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: start;

        .key{
            margin-right: 15px;;
        }

        .amount {
            font-weight: 600;
            font-size: 1.5rem;
        }
    }

    .below-input{
        font-size: 0.75rem;
        
        .dti-label {
            font-size: 0.8rem;
            font-weight: 600;
            white-space: nowrap;
            margin-right: 12px;

            &.green{
                color: var(--DTI-green);
            }

            &.yellow{
                color: var(--DTI-yellow);
            }

            &.red{
                color: var(--DTI-red);
            }
        }

        .explanation{
            font-weight: 400;
            font-style: italic;
            color: var(--subtext-color)
        }

    }

    .input-container{
        width: -webkit-fill-available;
        
        .dtiSlider{
            display: flex;
            align-items: center;
            justify-content: center;

            .rc-slider-track {
                height: var(--DTI-slider-height);
                border-radius: 100px;
                background-color: rgba(0,0,0,0);
            }

            // set color of the track to match DTI
            &.green{
                .rc-slider-track {
                    background: var(--DTI-green);
                }
            }

            &.yellow{
                .rc-slider-track {
                    background: var(--DTI-yellow);
                }
            }

            &.red{
                .rc-slider-track {
                    background: var(--DTI-red);
                }
            }

            // rail behind the track
            .rc-slider-rail {
                background: linear-gradient(to right, 
                    var(--DTI-green) 0%, 
                    var(--DTI-green) var(--DTI-split-1a), 

                    var(--background) var(--DTI-split-1a), 
                    var(--background) var(--DTI-split-1b), 

                    var(--DTI-yellow) var(--DTI-split-1b), 
                    var(--DTI-yellow) var(--DTI-split-2a), 

                    var(--background) var(--DTI-split-2a), 
                    var(--background) var(--DTI-split-2b), 

                    var(--DTI-red) var(--DTI-split-2b));
                height: var(--DTI-slider-height);
                border: solid 1px var(--background);
                border-radius: 100px;
                opacity: .5;
            }

            .rc-slider-handle {
                width: calc(var(--DTI-slider-height) + 10px);
                height: calc(var(--DTI-slider-height) + 10px);
                margin-top: 0px;
                background-color: var(--DTI-slider-color);
                border: solid 4px var(--background);
                opacity: 100;

                &.rc-slider-handle-dragging{
                    box-shadow: 0 0 0 0px transparent !important;
                }
            }
        }
    }
}


.rc-slider-disabled {
    background-color: rgba(0,0,0,0) !important;
}