.circle-button {
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%; /* Make it circular */
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  transition: background-color 0.2s ease; /* Add smooth transition for hover effect */
  position: relative;

  .sign{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
  }

  &:hover {
    background-color: #0056b3;
  }

  &.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}
