@import './../../global.scss';

.header {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--background);
    color: var(--color);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    border-bottom: solid 1px var(--border-color);
    position: relative;

    @include mobile {
      height: var(--nav-height);
      display: flex;
      position: sticky;
      top: 0px;
    }

    .header-text {
      margin: 0;
      color: var(--text-color);
      font-weight: 700;
    }
}
  