.am-container{
    display: flex;
    flex-direction: column;
    // background-color: var(--container-background);
    border: solid 1px var(--border-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 20px;
    margin: 10px;
    width: 100%;
    
    .title{
        font-weight: 500;
        font-size: 1.25rem;
        padding-bottom: 10px;
    }

    .table{
        display: flex;
        flex-direction: row;
        gap: 6px;
        height: 100%;

        .year{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: -webkit-fill-available;
            border-radius: 4px;
            overflow: hidden;
            gap: 2px;

            .tax{
                background-color: var(--tax-bar-color);
            }

            .interest{
                background-color: var(--interest-bar-color);
            }

            .principal{
                background-color: var(--principal-bar-color);
            }
        }
    }
}