.App {
    text-align: center;
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    overflow: hidden;

    .content{
        display: flex;
        flex-direction: row;
        height: calc(100vh - var(--nav-height) - 22px);
        overflow: hidden;
        
        .leftbar{
            display: flex;
            align-items: flex-start;
            border-right: solid 1px var(--border-color);
            padding: 20px;
            overflow: overlay;

            .form-container {
            }
        }

        .dashboard {
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .upper{
                display: flex;
                font-display: row;
            }

            .lower{
                display: flex;
                flex-grow: 2;
                height: 100%;
                width: 100%;
            }
        }
    }

}

* {
    font-family: Poppins, sans-serif;
    // SCROLL BAR
    ::-webkit-scrollbar {
        width: 18px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--background);
        background: var(--background);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--border-color);
        border: solid 6px transparent;
        border-radius: 10px;
        background-clip: content-box;
    &:hover {
        background-color: var(--border-color);
    }
    }
}