:root {
  --nav-height: 50px;
  --button-background: #1d9b36;
  --button-color: #f0f0f0;

  // Amortization table
  --tax-bar-color:#67a9f4;
  --interest-bar-color: #3472af;
  --principal-bar-color: var(--button-background);
  --active-dot-fill: black;
  --active-dot-stroke: white;

  // DTI slider
  --DTI-slider-height: 16px;
  --DTI-green: var(--button-background);
  --DTI-yellow: rgb(255, 202, 68);
  --DTI-red: rgb(241, 60, 96);
  --DTI-split-1a: 65%;
  --DTI-split-1b: 66%;
  --DTI-split-2a: 82%;
  --DTI-split-2b: 83%;
}

:root, [data-theme='dark'] {
  --background: #222b3f;
  --text-color: #ffffff;
  --input-background: #1a2130;
  --border-color: #465278;
  --input-border: #7a7b80;
  --balance-bar-color: white;
  --row-nth-color: #2d3954;
  --total-row-background: #2b354b;
  --DTI-slider-color: white;
  --subtext-color: #84858a;
}

[data-theme='night'] {
  --background: #171718;
  --text-color: #ffffff;
  --input-background: #292a2c;
  --border-color: #4e5057;
  --input-border: #7a7b80;
  --balance-bar-color: white;
  --row-nth-color: #222324;
  --total-row-background: #292a2c;
  --DTI-slider-color: white;
  --subtext-color: #84858a;
}

[data-theme='light'] {
  --background: #ebebeb;
  --text-color: #000000;
  --input-background: #e4e4e4;
  --border-color: #bcbcbc;
  --input-border: #bcbcbc;
  --balance-bar-color: black;
  --row-nth-color: #d0d0d0;
  --total-row-background: #e4e4e4;
  --DTI-slider-color: black;
  --subtext-color: #57585b;
}
