:root {
  --nav-height: 25px;
  --button-background: #1fa53a;
  --button-color: #f0f0f0;

  --tax-bar-color:rgb(84, 145, 216);
  --interest-bar-color: rgb(31, 86, 122);
  --principal-bar-color: #1fa53a;
}

:root, [data-theme='dark'] {
  --background: #222b3f;
  --text-color: #ffffff;
  --input-background: #1a2130;
  --border-color: #465278;
  --container-background:#333c59;
  --input-border: #7a7b80;
}

[data-theme='light'] {
  --background: #f0f0f0;
  --text-color: #000000;
  --input-background: #f0f0f0;
  --border-color: #cccccc;
  --container-background: #e0dede;
  --input-border: #ccc;
}
