:root {
  --nav-height: 25px;
  --button-background: #1fa53a;
  --button-color: #f0f0f0;

  // Amortization table
  --tax-bar-color:#67a9f4;
  --interest-bar-color: #3472af;
  --principal-bar-color: #1fa53a;
  --active-dot-fill: black;
  --active-dot-stroke: white;

  // DTI slider
  --DTI-slider-height: 16px;
  --DTI-green: #1fa53a;
  --DTI-yellow: rgb(255, 202, 68);
  --DTI-red: rgb(241, 60, 96);
  --DTI-split-1a: 65%;
  --DTI-split-1b: 66%;
  --DTI-split-2a: 82%;
  --DTI-split-2b: 83%;
}

:root, [data-theme='dark'] {
  --background: #222b3f;
  --text-color: #ffffff;
  --input-background: #1a2130;
  --border-color: #465278;
  --container-background:#333c59;
  --input-border: #7a7b80;
  --axis-color: #84858a;
  --balance-bar-color: white;
  --row-nth-color: #28334c;
}

[data-theme='night'] {
  --background: #171718;
  --text-color: #ffffff;
  --input-background: #292a2c;
  --border-color: #4e5057;
  --container-background:#333c59;
  --input-border: #7a7b80;
  --axis-color: #84858a;
  --balance-bar-color: white;
  --row-nth-color: #28334c;
}

[data-theme='light'] {
  --background: #f0f0f0;
  --text-color: #000000;
  --input-background: #f0f0f0;
  --border-color: #cccccc;
  --container-background: #e0dede;
  --input-border: #ccc;
  --axis-color: #57585b;
  --balance-bar-color: black;
  --row-nth-color: #dfdfdf;
}
