.breakdown-container{
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 20px;
    margin: 10px;
    
    .title{
        display: flex;    
        align-items: baseline;
        justify-content: start;
        padding-bottom: 4px;
        border-bottom: solid 1px var(--border-color);

        .key{
            margin-right: 15px;;
        }

        .amount {
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
    
    .breakdown{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 40px;
        
        .breakdown-section{
            display: flex;
            flex-direction: column;
            align-items: start;

            .breakdown-header{
                padding: 5px 0px;
                margin: 5px 0px;
                font-weight: 600;
                border-bottom: solid 1px var(--border-color);
            }

            .breakdown-element{
                padding: 2px 6px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                &.income{
                    border-top: solid 1px var(--border-color);
                    margin-top: 6px;
                    padding: 6px;
                    background-color: var(--total-row-background);
                }

                // outside el-key
                .el-name{
                    font-size: 0.75rem;
                    margin-right: 20px;
                }

                .el-key{
                    display: flex;
                    flex-direction: row;
        
                    // within el-key
                    .el-name{
                        font-size: 0.75rem;
                        margin-right: 6px;
                    }
                        
                    .el-percentage{
                        font-size: 0.75rem;
                        margin-right: 20px;
                        color: var(--subtext-color);
                        min-width: 40px;
                        text-align: left;
                    }
                }
    
                .el-value{
                    font-size: 0.75rem;
                    font-weight: 400;
                    min-width: 40px;
                    text-align: right;
                }
            }
        }
    }
}