.logo-container{
    height: 30px;
    width: 30px;
    margin-right: 5px;

    svg{
        height: inherit;
        width: inherit;

        g{
            fill: var(--button-background);
        }
    }
}