.monthly-container{
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 20px;
    margin: 10px;
    height: fit-content;
    
    .title{
        font-weight: 500;
        font-size: 1.25rem;
        padding-bottom: 10px;
    }

    .breakdown{
        display: flex;
        flex-direction: column;
        align-items: start;

        .breakdown-data{
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-top: 10px;
        }
        
        .breakdown-section{
            display: flex;
            flex-direction: column;
            align-items: start;

            .breakdown-header{
                padding: 5px 0px;
                margin: 5px 0px;
                font-weight: 600;
                border-bottom: solid 1px var(--border-color);
            }

            .breakdown-element{
                padding: 2px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                &.income{
                    border-top: solid 1px var(--border-color);
                    margin-top: 6px;
                    padding-top: 6px;
                }

                // outside el-key
                .el-name{
                    font-size: 0.75rem;
                    margin-right: 20px;
                }

                .el-key{
                    display: flex;
                    flex-direction: row;
        
                    // within el-key
                    .el-name{
                        font-size: 0.75rem;
                        margin-right: 6px;
                    }
                        
                    .el-percentage{
                        font-size: 0.75rem;
                        margin-right: 20px;
                        color: var(--input-border);
                        min-width: 40px;
                        text-align: left;
                    }
                }
    
                .el-value{
                    font-size: 0.75rem;
                    font-weight: 400;
                    min-width: 40px;
                    text-align: right;
                }
            }
        }
    }
}